[temperature_sensor EBB]
sensor_type: Generic 3950
sensor_pin: ebb:PA0
pullup_resistor: 2200

[lis2dw]
cs_pin: ebb:PB1
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z

[bltouch]
sensor_pin: ^!ebb:PA5 #Remove ^ if print head crashes into bed, the ^ is for the CR touch a bl touch should work without.
control_pin: ebb:PA4
x_offset: -42
y_offset: -10
speed: 50
samples: 3
sample_retract_dist: 1.5

[extruder]
step_pin: ebb:PD3
dir_pin: ebb:PD2
enable_pin: !ebb:PB6
microsteps: 16
rotation_distance: 34.406
gear_ratio: 35:10
# pressure_advance: 0.105
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ebb:PB0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: ebb:PA1
min_extrude_temp: 0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 280

[tmc2209 extruder]
uart_pin: ebb:PB3
run_current: 0.580
stealthchop_threshold: 999999

[filament_switch_sensor filament_sensor]
switch_pin:^ebb:PA3
pause_on_runout: false #pause handled by macro
runout_gcode:
  #calls a macro with the name M600 (so it can be called by slicers too)
  M600 
insert_gcode:
  #just a throwaway GCode command to have something in this space. You can add your own.
  M117 Filament inserted 
event_delay: 3.0
pause_delay: 0.0001

[heater_fan nozzle_cooling_fan]
pin: ebb:PB15

[fan]
pin: ebb:PB8